.ConfigDepartmentDialog {
  .Wizard {
    width: 45vw;
    height: 90vh;
  }

  .WizardStep {
    .step-content {
      padding: var(--wizard-spacing);
    }

    code {
      max-height: 100vh;
    }
  }
}