.btn-group{
    justify-content: flex-end;
    display: flex;
    align-items: baseline;
}
.pipeline-resource-panel{
    padding: 0px 0px 10px 15px;
    margin-bottom: 10px;
    &.dark{
        background-color: #262B2F;
    }
    &.light{
        background-color: #fff;
    }
}