.Pipelines {
  .TableCell {
    &.name {
      flex-grow: 3;
    }
    &.ownernamespace {
      flex-grow: 3;
    }
    &.tasknames {
      flex-grow: 3;
    }
  }
}

.PipelineDialog {
  width: 850px;
  height: 850px;
}
