
.Wizard {
  --wizard-width: #{65 * $unit};
  --wizard-content-height: auto;
  --wizard-content-max-height: #{80 * $unit};
  --wizard-spacing: #{$padding * 3};
  --wizard-step-bgc: #{$dialogBackground};

  width: var(--wizard-width);
  color: $dialogTextColor;
  height: 90vh;
  width: 50vw;

  &.small {
    --wizard-width: #{45 * $unit};
    --wizard-content-height: auto;
  }

  @mixin scrollableContent() {
    @include custom-scrollbar($theme: dark);
    padding: var(--wizard-spacing);
    height: var(--wizard-content-height);
    max-height: var(--wizard-content-max-height);
  }

  > .header {
    position: relative;
    text-align: center;
    color: white;
    background: $dialogHeaderBackground;
    padding: var(--wizard-spacing);
    background: #2d98ed;
    padding: 10px 24px;
    b {
      font-weight: $font-weight-normal;
    }

    > * {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > .Icon {
      position: absolute;
      top: 50%;
      right: 24px;
      margin-top: -9px;
      > .material-icons {
        color: #ffffff;
      }
    }
  }

  .Stepper {
    color: silver;
    --stepper-color-point: black;
    --stepper-color-text: currentColor;
    margin-top: var(--wizard-spacing);
  }

  .Checkbox {
    padding: 0;
  }

  .Select {
    width: 100%;
  }

  .step-loading {
    padding: var(--wizard-spacing);
  }

  .WizardStep {
    background: var(--wizard-step-bgc);

    > .step-content.scrollable {
      @include scrollableContent();

      > * {
        flex-shrink: 0;
      }
    }

    // buttons
    > :last-child {
      padding: var(--wizard-spacing);
      padding: 10px 24px;
      background: $dialogFooterBackground;

      .back-btn {
        margin-left: auto;
      }

      .Button[type="submit"] {
        min-width: 10 * $unit;
      }
    }
  }
}

:export {
  wizardSpacing: #{$padding * 3};
  wizardContentMaxHeight: #{80 * $unit};
}