@import "../+workloads/workloads-mixins";

.TaskRuns {
  .TableCell {
    &.name {
      flex-grow: 3.0;
    }

    &.ownernamespace{
      flex-grow: 1.2;
    }
    &.age {
      flex-grow: 0.3;
    }

    &.steps {
      .StatusBrick {
        @include step-status-bgs;
      }
    }

    &.warning {
      @include table-cell-warning;
    }
  }
}