.SubTitle {
  --sub-title-spacing: #{$margin * 2};

  text-transform: capitalize;
  font-weight: bold;

  &:not(.compact) {
    padding-bottom: $margin;
    color: #7c7c7c;
  }

  &:not(:first-child) {
    margin-top: var(--sub-title-spacing);
  }
}
